body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Tools/Imgs/download\ \(4\).jpg);
}

.container{
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.493);
    background-position: center;
    background-size: cover;
    position: relative;
}

h2{
    color: #0f0c2f;
    margin: 15px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #30257f;
    border-top: 4px solid #30257f;
    border-radius: 25px;
    font-size: 2em;
}

form{
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.553);
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.782);
}

input::placeholder{
    color: white;
}

button{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.122);
    border-radius: 10px;
    height: 50px;
    border: none;
    color: white;
    font-size: 2em;
    letter-spacing: 1px;
    border: 2px solid white;
    cursor: pointer;
}

button p{
    padding: 0;
    margin: 0;
    margin-top: -10px;
}