body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Tools/Imgs/login.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.819);
    background-position: center;
    background-size: cover;
    position: relative;
}

h2{
    background-color: #007c7a61;
    color: #0b4948;
    margin: 2px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #0b4948;
    border-radius: 10px;
    font-size: 1.8em;
}

form{
    padding: 10px;
    border: 2px solid #0b4948;
    border-radius: 10px;
    background-color: #00cecb61;
}

.div-password , .div-number , .div-email{
    position: relative;
    color: #0b4948;
    margin-bottom: 15px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #0b4948;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
}

input::placeholder{
    color: white;
}

button{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.686);
    color: white;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-size: 2em;
    letter-spacing: 1px;
    border: 1px solid white;
    cursor: pointer;
}

button p{
    padding: 0;
    margin: 0;
    margin-top: -5px;
}

hr{
    border-color: black;
}

i{
    position: absolute;
    top: 52px;
    left: 15px;
    color: white;
}