
*{
    font-family: iran;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}   


/* ================================= header nav right ================================= */

header{
    direction: rtl;
}

header nav{
    background-color: rgba(255, 255, 255, 0.797);
    width: 100%;
    height: 55px;
    box-shadow: 0px 5px 10px #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    right: 0px;
    top: 0px;
}

header nav .nav-right{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 500px;
}

header nav .nav-right .container_list_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    padding: 5px 2px;
}

header nav .nav-right .container_list_icon i{
    color: #444;
    margin: 15px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

header nav .nav-right .container_list_icon i:hover{
    color: rgb(230, 83, 30);
}

header nav .nav-right .list_icon{
    position: relative;
    margin-left: 50px;
    display: flex;
    align-items: center;
    display: none;
}

header nav .nav-right .list_icon i{
    position: absolute;
    margin-right: 20px;
}

header nav .nav-right .list_icon #list_icon_true{
    display: none;
}

header nav .nav-right .list_icon #list_icon_false{
    display: none;
}

header nav .nav-right i{
    color: #444;
    margin: 10px 15px;
    font-size: 1.3em;
}

header nav .nav-right input{
    border: 1px solid #444;
    border-radius: 100px;
    margin: 5px;
    margin-right: 10px;
    padding: 5px 20px;
    width: 300px;
    max-width: 300px;
}

header nav .nav-right input:focus{
    outline: none;
    border:2px solid rgb(230, 83, 30);
}

/* ================================= header nav left ================================= */

header nav .nav-left .register-login-btn{
    display: flex;
    justify-content: center;
    border: 1px solid #444;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 8px;
    transition: 0.4s ease-in-out;
}

header nav .nav-left{
    max-width: 200px;
}

header nav .nav-left .register-login-btn i{
    margin: 7px;
    transition: 0.4s;
    color: #444;
}

header nav .nav-left .register-login-btn a p{
    margin: 0px 10px;
    color: #444;
    font-size: 1em;
    transition: 0.4s;
}

header nav .nav-left .register-login-btn:hover{
    border: 1px solid rgb(230, 83, 30);
}

header nav .nav-left .register-login-btn:hover i{
    color: rgb(230, 83, 30);
}

header nav .nav-left .register-login-btn:hover a p{
    color: rgb(230, 83, 30);
}

/* ================================= main items ================================= */

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    margin-top: 60px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.items{
    width: 100%;
}

.item{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    max-width: 400px;
    cursor: pointer;
}

.img{
    grid-column: 1/6;
    width: 100%;
    margin: 10px;
}

img{
    width: 100%;
}

.texts{
    height: 100%;
    grid-column: -1/6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 20px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: end;
}

.shop i , .like i{
    padding: 10px;
    margin-right: 10px;
    color: white;
    border-radius: 50px;
    background-color: aqua;
    transition: 0.2s;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.shop i:hover , .like i:hover{
    display: flex;
    justify-content: space-between;
    width: 105px;
    background-color: rgb(0, 175, 175);
    margin-right: 6px;
    position: relative;
}

.like , .shop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.icon_text{
    position: absolute;
    left: 10px;
    display: none;
}

.shop i:hover .icon_text, .like i:hover .icon_text{
    display: inline;
}

#heart_icon:hover{
    width: 75px;
}

/* ================== media query ================== */

@media screen and (max-width : 920px) {
    .container{
        flex-direction: column;
    }
}