*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Tools/Imgs/download\ \(10\).jfif);
    background-position: center;
    background-repeat: no-repeat;
}

/* ================= remember ================= */

section{
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.708);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.container form{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.big-img{
    grid-column: 1/9;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 3px solid white;
    border-right: none;
}

.form{
    border: 3px solid white;
    border-left: none;
    grid-column: 9/-1;
    background-color: rgba(255, 255, 255, 0.674);
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: rtl;
}

h1{
    font-size: 2em;
    color: crimson;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid crimson;
    border-radius: 30px;
    margin-bottom: 20px;
}

.user_login_code{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: 2px solid crimson;
}

.input_timer{
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    height: 45px;
    margin-top: 15px;
}

input{
    padding: 10px;
    width: 100%;
    border: 2px outset crimson;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

input:focus{
    outline: none;
    border: 2px outset crimson;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    width: 100%;
    border: none;
    background-color: rgb(220, 20, 60);
    color: white;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 1s;
}

button:hover{
    background-color: #1289A7;
    color: black;
}

.timer{
    background-color: rgb(255, 44, 86);
    border: 2px outset rgb(155, 0, 31);
    border-radius: 10px;
    color: white;
    width: 105px;
    height: 100%;
    padding: 5px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.minet , .second{
    width: 30px;
    display: flex;
    justify-content: center;
}

/* ================= media query ================= */

@media screen and (max-width : 777px) {
    
    .big-img{
        grid-column: 1/7;
    }
    
    .form{
        grid-column: 7/-1;
    }
    
}

@media screen and (max-width : 540px) {
    
    .container form{
        grid-template-columns: 1fr;
    }

    img{
        border: 3px solid white;
        border-bottom: none;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .form{
        border: 3px solid white;
        border-top: none;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        grid-column: 1/-1;
    }
    
    .user_email , .user_login_code{
        margin: 0px 40px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #submit{
        margin: 10px 40px;
    }

}

@media screen and (max-width : 375px) {

    .user_email , .user_login_code{
        margin: 0px 10px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #submit{
        margin: 10px 10px;
    }

}